dist/
release-assets/
local-server/BeamMP-Server.exe
local-server/Server*.log
local-server/.Threads.log
local-server/startup-check*.log
local-server-funblocker/BeamMP-Server.exe
local-server-funblocker/Server*.log
local-server-funblocker/.Threads.log
local-server-funblocker/startup-check*.log
